div.container
	div.row
		div.col-md-2
			div.headerTop__logo
				a(href="/").logo--text Logo
		div.col-md-10
			div.headerNav
				nav.menu
					li.menu-item
						a(href="/") Головна
					li.menu-item
						a(href="/company.html") Товариство
					