div.container
	div.row
		div.col-md-12.col-sm-12.col-xs-12
			div.authorization__wrap
				div.authorization
					div.authorization__title Вхід
					div.authorization__icon
						a(href="/company.html").authorization__link
							i.fa.fa-sign-in.fa-5x