DOCTYPE
html(lang="ru")
	head
		include pug/template/head.pug
	body
		div.wrapper
			header.header
				include pug/template/header.pug
			section.main
				include pug/config/config.pug
			div.empty
		include pug/template/footer.pug
		include pug/template/footer_js.pug
	
		